.stacked{
  #main-menu{
    clear: both;
    display: block;
    float: none;
    text-align: center;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    ul.menu  li {
      float: none;
      display: inline-block;
    }
    ul {
      padding: 2px 0;
      li a {
        padding: 6px 17px;
        color: #aaa;
        font-size: 15px;
      }
    }
  }
}
