/* line 109, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu {
  background-color: #f2f2f2;
  height: auto;
  margin: 0;
  width: 100%;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: auto !important;
}
.page .top-bar.expanded .toggle-topbar a{
  color: #fff;
}
.page .contain-to-grid{
  background: none;
}
.page .top-bar.expanded .title-area{
  background: none
}
.page .top-bar{
  background: none;
  padding:0 10px;
}
/* line 117, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li {
  position: relative;
 
}
/* line 119, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > a {
  color: #797979;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 15px;
  text-transform: uppercase; 
  border-top: 1px solid #e0e0e0;
}
/* line 126, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li:hover > a {
  background-color: #fafafa;
}
/* line 129, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: fontawesome;
  height: 45px;
  line-height: 44px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 45px;
  z-index: 99;
}
/* line 141, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head:before {
  content: "\f0d7";
  color: #797979;
}
/* line 146, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head.click:before {
  content: "\f0d8";
  color: #797979;
}
/* line 149, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head.click ~ ul.menu {
  display: block;
  position: relative;
  width: 100%;
  margin-left: 0;
}
.top-bar > ul.menu li > .head.click ~ ul.menu a{
  font-size: 13px;
  font-weight: 400;
  padding-left: 30px;
  text-transform: capitalize;
  background-color: #fafafa;
}
/* line 154, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li ul.menu {
  display: none;
}