/* line 109, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu {
  display: none; }

@media (min-width: 1024px) {
  .top-bar > ul.menu {
    max-width: 320px;
    position: absolute;
    right: 0;
    max-height: inherit;
    overflow: inherit; } }
/* line 117, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li {
  position: relative; }

/* line 119, ../../../scss/themeski/components/_menu.scss */
/* line 126, ../../../scss/themeski/components/_menu.scss */
/* line 129, ../../../scss/themeski/components/_menu.scss */
/* line 141, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head:before {
  content: "\f0d7"; }

/* line 146, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head.click:before {
  content: "\f0d8"; }

/* line 149, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li > .head.click ~ ul.menu {
  display: block; }

/* line 154, ../../../scss/themeski/components/_menu.scss */
.top-bar > ul.menu li ul.menu {
  display: none; }

.top-bar .title-area {
  float: none !important; }
